<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
    </startup>  
  <appSettings>  
    <add key="DataSource" value="LAPTOP-O1MKG6L7"/>  
    <add key="Catalog" value="DataStreams"/>
    <add key="User" value="SQL Auth"/>
    <add key="Password" value="streams"/>
  </appSettings>  
</configuration>